/* Pau Galan Gutierrez - 204993 - ECV - P1 - 2022 */

:root{
    --complementari: #F2AB46;
    --main-color: #007aff;
    --grey: #f8f9fb;
    --color-one: #091F63;
    --color-two: #1E4881;
    --color-three: #367B92;
    --color-four: #397E74;
    --color-five: #F2AB46;
}

html{
    background-color: #e5e5f7;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--main-color) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--main-color) 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
body{
    font-family: 'Raleway', sans-serif;
}

.login{
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.3);
    padding: 30px;
    width: 350px;
    margin: auto;
    margin-top: 20vh;
}

    .titleWeb{
        display: flex;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        color: black;
        margin-bottom: 20px;
        justify-content: center;
        background-color: #f8f9fb;
        border-radius: 15px;
        font-size: 15px;
    }

    .titleLogin{
        display: flex;
        justify-content: center;
        margin: 15px;
        font-size: 17px;
    }

    .loginInput{
        background-color: white;
        color: var(--main-color);
        border: transparent;
        border-radius: 15px;
        margin: auto;
        padding: 5px 10px 5px 10px;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;

    }.loginInput:focus{
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.4);
        border: transparent;
        outline: none;

    }.loginInput:invalid{
        border: 1px solid red;
    }

    .chatRooms{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

    }.chatRooms input[type="radio"]{
        display: none;

    }.chatRooms label {
        background-color: white;
        margin: auto;
        color: black;
        border-radius: 10px;
        padding: 7px;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        cursor: pointer;

    }.chatRooms input[type="radio"]:checked+label {
        background-color: var(--complementari);
        color: black;
    }

    .avatarSelector{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .avatars > input{
        display: none;
    }
        .avatars img{
            width: 50px;
            border-radius: 50px;
            padding: 5px;
            background-color: white;
            box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        }
        .avatars > input:checked + img {
            border: 3px solid var(--color-five);
            box-shadow: 0 4px 8px 0px rgba(0,0,0,0.3);
        }

    .loginBtn{
        background-color: white;
        margin: auto;
        color: black;
        font-weight: bold;
        border-radius: 15px;
        padding: 10px;
        border: transparent;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .loginBtn:hover{
        background-color: var(--complementari);
        color: black;
        
    }

.allApp{
    display: none;
}
.chatBox{
    background: #f8f9fb;
    padding: 50px;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: var(--main-color);
    margin: auto;
    min-width: 500px;
    max-width: 700px;
}
    .borderChat{
        background: #f8f9fb;
        padding: 10px;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        border-radius: 20px;

    }
    .logOutBtn{
        background-color: var(--color-five);
        color: black;
        font-weight: bold;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 20px;
        border: transparent;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .nameTitle{
        padding-left: 15px;
        display: flex;
        text-align: left;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        margin-bottom: 20px;
        gap: 15px; 
        align-items: center;
        justify-content: space-between;
        background-color: #f8f9fb;
        border-radius: 15px;
    }
    .activeUsersContainer{
        overflow: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-right: 10px;
        

    }.activeUsers img{
        width: 40px;
        border-radius: 50px;
        padding: 5px;
        background-color: white;
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    }.activeUsers{
        display: inline-block;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-left:5px ;
        margin-right: 5px;
    }

        #userChatName{
            font-size: 25px;
            padding: 5px;
            padding-left:40px;
            width: 380px;
        }

        .icon{
            background: var(--main-color);
            border-radius: 50px;
            padding: 5px 9px 5px 9px;
            box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        }


    .chat{
        height: 415px;
        background-color:#f8f9fb;
        overflow: scroll;
        overflow-x: hidden;
        position: relative;
        padding: 10px;

    }
        .chattext{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 35px;
            width: fit-content;
            max-width: 80%;
            position: relative;
            padding: 5px 20px 5px 20px;
            overflow-x: hidden;
            font-size: 20px;
        }
        .chattext.receive{
            background: rgba(255, 255, 255);
            float: left;
            text-align: left;
            margin: 5px 50% 5px 30px;
        }
        .chattext.send{
            background: #b3d4f7;
            float: right;
            text-align: right;
            margin: 5px 30px 5px 50%;
        }
        .chattext.enter{
            background: rgb(109, 248, 54);
            font-size: 15px;
            margin: 10px;

        }.chattext.leave{
            background: rgb(248, 98, 98);
            font-size: 15px;
            margin: 10px;
        }

    .inputMsg{
        display: flex;
        font-size: 15px;
        background-color:#ebebeb;
        border-radius: 35px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        text-align: left;
        gap: 15px; 
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        width: 70%;
        margin: auto;

    }
    .inputText{
        width: 280px;
        border: none;
        background: none;
        color: black;
    }
    .inputText:focus{
        background: none;
        color: black;
        border: transparent;
        outline: none;
    }
